@import 'tailwindcss';
@import 'tw-animate-css';

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-red: #c62121;
  --color-green: #82c91e;
  --color-blue: #51a2ff;
  --color-gray: #adb5bd;
  --bg-form: #100f22;
  --cards-bg: #423e6980;
  --color-chat: #7c7ce854;
  --color-dark: #302c55;
  --bg-tabel: #adb5bd33;
  --bg-mines: #0f0c29;
  --color-lines: #848484;
  --color-link: #aad2ff;
  --active-link: #1f73d1;
  --gray: #adb5bd;
  --white: #ffffff03;
}

@theme inline {
  --color-white: var(--white);
  --color-gray: var(--gray);
  --text-color-black: var(--color-black);
  --color-background: var(--background-main);
  --text-color-white: var(--color-white);
  --text-color-red: var(--color-red);
  --text-color-green: var(--color-green);
  --text-color-blue: var(--color-blue);
  --text-color-gray: var(--color-gray);
  --color-bg-form: var(--bg-form);
  --color-cards-bg: var(--cards-bg);
  --color-color-chat: var(--color-chat);
  --color-color-dark: var(--color-dark);
  --color-bg-tabel: var(--bg-tabel);
  --color-bg-mines: var(--bg-mines);
  --color-color-lines: var(--color-lines);
  --color-color-link: var(--color-link);
  --color-active-link: var(--active-link);

  --text-satoshi: 2rem;
  --text-satoshi--weight: 900;
  --text-satoshi--line-height: 130%;
  --text-satoshi--letter-spacing: 0em;

  --text-satoshi-small: 1.5rem;
  --text-satoshi-small--weight: 900;
  --text-satoshi-small--line-height: 130%;
  --text-satoshi-small--letter-spacing: 0em;

  --text-manrope: 0.875rem;
  --text-manrope--weight: 400;
  --text-manrope--line-height: 140%;
  --text-manrope--letter-spacing: 0em;

  --text-inter-h2: 1.5rem;
  --text-inter-h2--weight: 600;
  --text-inter-h2--line-height: 130%;
  --text-inter-h2--letter-spacing: 0em;

  --text-inter-main: 1rem;
  --text-inter-main--weight: 400;
  --text-inter-main--line-height: 150%;
  --text-inter-main--letter-spacing: 0em;

  --text-inter-bold: 1rem;
  --text-inter-bold--weight: 600;
  --text-inter-bold--line-height: 130%;
  --text-inter-bold--letter-spacing: 0em;

  --text-inter-secondary: 0.875rem;
  --text-inter-secondary--weight: 500;
  --text-inter-secondary--line-height: 140%;
  --text-inter-secondary--letter-spacing: 0em;

  --text-inter-small: 0.75rem;
  --text-inter-small--weight: 400;
  --text-inter-small--line-height: 140%;
  --text-inter-small--letter-spacing: 0em;

  --radius-sm: 8px;
  --radius-smm: 12px;
  --radius-md: 16px;
  --radius-lg: 24px;
  --radius-pill: 100px;
}

@layer utilities {
  .radius-sm {
    border-radius: var(--radius-sm);
  }

  .radius-smm {
    border-radius: var(--radius-smm);
  }

  .radius-md {
    border-radius: var(--radius-md);
  }

  .radius-lg {
    border-radius: var(--radius-lg);
  }

  .radius-pill {
    border-radius: var(--radius-pill);
  }

  .text-satoshi {
    font-family: var(--font-satoshi);
    font-size: var(--text-satoshi);
    font-weight: var(--text-satoshi--weight);
    line-height: var(--text-satoshi--line-height);
    letter-spacing: var(--text-satoshi--letter-spacing);
  }

  .text-satoshi-small {
    font-family: var(--font-satoshi);
    font-size: var(--text-satoshi-small);
    font-weight: var(--text-satoshi-small--weight);
    line-height: var(--text-satoshi-small--line-height);
    letter-spacing: var(--text-satoshi-small--letter-spacing);
  }

  .text-manrope {
    font-family: var(--font-manrope);
    font-size: var(--text-manrope);
    font-weight: var(--text-manrope--weight);
    line-height: var(--text-manrope--line-height);
    letter-spacing: var(--text-manrope--letter-spacing);
  }

  .text-inter-bold {
    font-family: var(--font-inter);
    font-size: var(--text-inter-bold);
    font-weight: var(--text-inter-bold--weight);
    line-height: var(--text-inter-bold--line-height);
    letter-spacing: var(--text-inter-bold--letter-spacing);
  }

  .text-inter-h2 {
    font-family: var(--font-inter);
    font-size: var(--text-inter-h2);
    font-weight: var(--text-inter-h2--weight);
    line-height: var(--text-inter-h2--line-height);
    letter-spacing: var(--text-inter-h2--letter-spacing);
  }

  .text-inter-main {
    font-family: var(--font-inter);
    font-size: var(--text-inter-main);
    font-weight: var(--text-inter-main--weight);
    line-height: var(--text-inter-main--line-height);
    letter-spacing: var(--text-inter-main--letter-spacing);
  }

  .text-inter-secondary {
    font-family: var(--font-inter);
    font-size: var(--text-inter-secondary);
    font-weight: var(--text-inter-secondary--weight);
    line-height: var(--text-inter-secondary--line-height);
    letter-spacing: var(--text-inter-secondary--letter-spacing);
  }

  .text-inter-small {
    font-family: var(--font-inter);
    font-size: var(--text-inter-small);
    font-weight: var(--text-inter-small--weight);
    line-height: var(--text-inter-small--line-height);
    letter-spacing: var(--text-inter-small--letter-spacing);
  }

  .bg-main {
    background: linear-gradient(180deg, #0f0c29 0%, #312c5f 50%, #24243e 100%);
  }

  .bg-header {
    background: linear-gradient(180deg, #0f0c29 0%, #312c5f 50%, #24243e 100%);
  }

  @media (max-width: 767px) {
    .bg-header {
      background: none;
    }
  }

  .button-red {
    background: linear-gradient(0deg, #ff0047 0%, #ff417b 100%);
  }

  .button-red:hover {
    box-shadow: 0px 0px 18px 0px #ff5a8c;
  }

  .button-red:active {
    background: linear-gradient(0deg, #ba0034 0%, #ff185f 100%);
  }

  .button-red:disabled,
  .button-red[aria-disabled='true'] {
    background: linear-gradient(0deg, #ff6892 0%, #ff9bb9 100%);
    box-shadow: none;
    opacity: 0.7;
    cursor: not-allowed;
    pointer-events: none;
  }

  .shadow-logo {
    box-shadow: 0px 0px 16px 2px #ff738f;
  }

  .button-yellow {
    background: linear-gradient(180deg, #ffcd71 0%, #e59603 100%);
  }

  .button-yellow:hover {
    box-shadow: 0px 0px 18px 0px #fdc04e;
  }

  .button-yellow:active {
    background: linear-gradient(180deg, #f1b23e 0%, #aa6e00 100%);
  }

  .border-button {
    border-radius: 100px;
  }

  .bg-gradient-chat {
    background: linear-gradient(116.24deg, #3a88ff -6.88%, #004bbc 83.61%);
  }

  .shadow-message-chat {
    box-shadow: 0px 2px 10px 0px #bfd8ff33;
  }

  .shadow-green {
    box-shadow: 0px 0px 16px 0px #a7e84d;
  }

  .shadow-cards-games {
    box-shadow: 0px 0px 100px 1px #ffffff4d;
  }

  .shadow-mines {
    box-shadow: 0px 0px 16px 0px #ffffff40;
  }

  .shadow-avatar {
    box-shadow: 0px 0px 16px 0px #ffcd71;
  }

  .bg-gradient-button-games {
    background:
      linear-gradient(116.24deg, #b9ff58 -6.88%, #74a62e 83.61%),
      linear-gradient(116.24deg, #b9ff58 -6.88%, #69b400 83.61%);
  }
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    min-height: 100%;
  }

  body {
    font-family: var(--font-inter);
  }
}

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}
